<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="text-center mb-md-5 my-3">
        <h3>Inserisci i dati per la registrazione</h3>
    </div>

    <div class="d-md-flex my-md-2">
        <div class="form-group col-md-6 me-md-2">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" aria-describedby="emailHelp"
                placeholder="Inserisci il nome" formControlName="nome">
            <div *ngIf="registerForm.controls.nome?.touched && registerForm.controls.nome?.value?.length <1"
                id="name-error" class="form-text text-red">Inserisci il tuo nome.</div>
            <div *ngIf="registerForm.controls.nome?.touched && registerForm.controls.nome?.errors?.pattern"
                id="name-error" class="form-text text-red">Inserisci un nome valido</div>
        </div>
        <div class="form-group col-md-6">
            <label for="cognome">Cognome</label>
            <input type="text" class="form-control" id="cognome" aria-describedby="emailHelp"
                placeholder="Inserisci il tuo cognome" formControlName="cognome">
            <div *ngIf="registerForm.controls.cognome?.touched && registerForm.controls.cognome?.value.length <1"
                id="surname-error" class="form-text text-red">Inserisci il tuo Cognome.</div>
        </div>
    </div>
    <div formArrayName="indirizzi">
        <app-address-form [addressForm]="indirizzo"></app-address-form>
    </div>
    <!-- <div class="col-12 d-md-flex my-md-2">
        <div class="form-group col-md-6 me-md-2">
            <label for="telefono">Telefono</label>
            <input type="tel" class="form-control" id="telefono" aria-describedby="emailHelp"
                placeholder="Inserisci il numero di telefono" formControlName="telefono">
            <div *ngIf="registerForm.controls.telefono?.touched == true && registerForm.controls.telefono?.value?.length <1"
                class="form-text text-red">Questo campo è obbligatorio</div>
            <div *ngIf="registerForm.controls.telefono?.errors?.pattern" class="form-text text-red">
                Inserisci un numero di telefono valido</div>
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Inserisci la tua email" formControlName="email">
            <div *ngIf="registerForm.controls.email?.touched == true && registerForm.controls.email?.value?.length <1"
                class="form-text text-red">Questo campo è obbligatorio</div>
            <div *ngIf="registerForm.controls.email?.touched == true && registerForm.controls.email?.errors?.pattern"
                class="form-text text-red">Inserisci un indirizzo email valido</div>
        </div> -->
    <!-- </div> -->

    <div formGroupName="profilo">
        <div class="col-12 d-md-flex my-md-2">
            <div class="form-group col-md-6 me-md-2">
                <label for="user">Username</label>
                <input type="text" class="form-control" id="user" aria-describedby="emailHelp"
                    placeholder="Inserisci una Username" formControlName="username">
                <div *ngIf="registerForm.controls.username?.touched == true && registerForm.controls.username?.value?.length <1"
                    class="form-text text-red">Questo campo è obbligatorio</div>
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" aria-describedby="emailHelp"
                    placeholder="Inserisci una Password" formControlName="password">
                <div *ngIf="registerForm.controls.password?.touched == true && registerForm.controls.password?.value?.length <1"
                    class="form-text text-red">Questo campo è obbligatorio</div>
                <div *ngIf="registerForm.controls.password?.touched == true && registerForm.controls.password?.errors?.pattern"
                    class="form-text text-red">Inserisci una password di almeno 8 caratteri e 1 numero</div>
            </div>
        </div>
    </div>
    <div class="d-md-flex justify-content-center mt-3">
        <button [disabled]="!registerForm.valid" type="submit" class="btn-add-cart col-12 col-md-6 mx-md-1"
            routerLink="/login">Registrati</button>
        <button type="button" (click)="goToLoginPage()"
            class="btn-add-cart border-0 col-12 col-md-6 my-2 my-md-0 mx-md-1">Torna Indietro</button>
    </div>


</form>