<div class="container-fluid">
    <app-navbar [isLoggedIn]="isLoggedIn" [username]="user" (logoutEmitter)="logout()"></app-navbar>
    <app-slider></app-slider>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <ng-container *ngIf="isRegister == true && !registerDb">
                    <app-auth-form [passwordError]="passwordError" (loginEmitter)="goToLogin($event)"
                        (registrationEmitter)="viewRegistration()" (registrationEmitterDb)="viewRegistrationDb()"></app-auth-form>
                </ng-container>
                <ng-container *ngIf="isRegister == false">
                    <app-register-form (toLogin)="viewLogin()" (formDataEmit)="updateDataUser($event)"></app-register-form>
                </ng-container>
                <ng-container *ngIf="registerDb">
                    <app-register-db-form (formDataDbEmit)="updateDataUserDb($event)" (toLogin)="goToLoginDb($event)"></app-register-db-form>
                </ng-container>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>