<div class="container-fluid bg-color-black mt-5">
    <div class="container-lg ">
        <footer class="pt-4 pb-3">
            <div class="row px-md-5">
                <div class="col-12 col-md-4 col-lg-3 mb-3">
                    <ul class="nav d-flex justify-content-between flex-md-column">
                        <li class="nav-item mb-2">
                            <p class="text-white pointer fw-semibold">GIFT CARD</p>
                        </li>
                        <li class="nav-item mx-1 mx-md-0 mb-2">
                            <p class="text-white pointer fw-semibold ">TROVA UN NEGOZIO</p>
                        </li>
                        <li class="nav-item mx-1 mx-md-0 mb-2">
                            <p class="text-white pointer fw-semibold ">NIKE JOURNAL</p>
                        </li>
                        <li class="nav-item mx-1 mx-md-0 mb-2">
                            <p class="text-white pointer fw-semibold ">DIVENTA MEMBER</p>
                        </li>
                        <li class="nav-item mx-1 mx-md-0 mb-2">
                            <p class="text-white pointer fw-semibold ">SCONTO STUDENTI</p>
                        </li>
                        <li class="nav-item mx-1 mx-md-0 mb-2">
                            <p class="text-white pointer fw-semibold ">Feedback</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-white pointer fw-semibold ">CODICI PROMOZIONALI</p>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mb-3 ">

                    <ul class="nav flex-column d-none d-md-block">
                        <li class="nav-item mb-2">
                            <p class="text-white pointer fw-semibold">ASSISTENZA</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Hai bisogno di aiuto?</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Stato ordine</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Spedizione e consegna</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Resi</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Opzioni di pagamento</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Contattaci</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Recensioni</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Assistenza Codici promozionali Nike</p>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mb-3 d-none d-md-block">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <p class="text-white pointer fw-semibold">AZIENDA</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Informazioni su Nike</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">News</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Lavora con noi</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Investitori</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Sostenibilità</p>
                        </li>
                        <li class="nav-item mb-2">
                            <p class="text-grey pointer mb-1">Obiettivo</p>
                        </li>
                    </ul>
                </div>


            </div>

            <div class="px-md-5">
                <div class="border-bottom border-light">
                    <ul class="list-unstyled d-md-flex mb-1 justify-content-end">
                        <li class="mx-1">
                            <p class="text-grey pointer">Guide</p>
                        </li>
                        <li class="mx-1">
                            <p class="text-grey pointer">Condizioni d'uso</p>
                        </li>
                        <li class="mx-1">
                            <p class="text-grey pointer">Condizioni di vendita</p>
                        </li>
                        <li>
                            <p class="text-grey pointer">Info Legali e Societarie</p>
                        </li>
                    </ul>
                </div>
                <div class="my-2 d-md-flex justify-content-between">
                    <p class="text-white my-1 mb-md-0"><strong>Italia</strong> © 2024 Nicola, Inc. Tutti i diritti riservati.
                    </p>
                    <ul class="list-unstyled d-md-flex mb-0">
                        <li class="me-3">
                            <p class="mb-1 mb-md-0 text-grey pointer">Informativa sulla privacy e sui cookie</p>
                        </li>
                        <li>
                            <p class="mb-1 mb-md-0 text-grey pointer">Impostazione dei cookie</p>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>