<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="text-center bg-light">
                <h5>I prodotti più venduti</h5>
                <p routerLink="/best-seller" class="pointer pb-2"><u>Acquista</u></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="text-center bg-light">
                <h5>Tutti i nuovi Arrivi</h5>
                <p routerLink="/New" class="pointer pb-2"><u>Acquista</u></p>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="text-center bg-light">
                <p>Consegna e resi gratuiti</p>
                <p><strong>Approfitta delle offerte</strong></p>
            </div>
        </div>
    </div>
</div>