<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title m-auto" id="exampleModalLabel">ORDINE INVIATO CORRETTAMENTE</h5>
      </div>
      <div class="modal-body">
        <p>Ordine N° {{orderNumber}}</p>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn-add-cart m-auto" (click)="goRoute()" data-bs-dismiss="modal">Home Page</button>
      </div>
    </div>
  </div>
</div>
