<div class="container-fluid">
    <app-navbar [isLoggedIn]="isLoggedIn" [username]="user" (logoutEmitter)="logout()"></app-navbar>
    <app-slider></app-slider>
    <div class="mt-5 container">
        <div class="text-center">
            <h4>Lista degli ordini</h4>
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-center flex-wrap">
                <div class="card col-12 col-md-3 my-2 my-md-5 mx-md-2" *ngFor="let s of orderedData">
                    <h5 class="card-header">Numero Ordine #{{s.orderNumber}}</h5>
                    <div class="card-body p-2 py-md-3 mb-3 justify-content-center">
                        <ng-container *ngFor="let shoes of s.orderItem">
                            <div>
                                <app-card-order-product class="mx-lg-5" [shoes]="shoes"></app-card-order-product>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify-content-center d-flex">
            <button class="col-12 col-md-4 btn-add-cart" routerLink="/home-page">Acquista Nuovi Prodotti</button>
        </div>
    </div>
    <app-footer></app-footer>
</div>