<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="text-center mb-md-5">
        <h3>Inserisci i dati per la registrazione</h3>
    </div>

    <div class="d-md-flex my-md-2">
        <div class="form-group col-md-6 me-md-2">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" aria-describedby="emailHelp"
                placeholder="Inserisci il nome" formControlName="nome">
            <div *ngIf="registerForm.controls.nome?.touched && registerForm.controls.nome?.value?.length <1"
                id="name-error" class="form-text text-red">Inserisci il tuo nome.</div>
        </div>
        <div class="form-group col-md-6">
            <label for="cognome">Cognome</label>
            <input type="text" class="form-control" id="cognome" aria-describedby="emailHelp"
                placeholder="Inserisci il tuo cognome" formControlName="cognome">
            <div *ngIf="registerForm.controls.cognome?.touched && registerForm.controls.cognome?.value.length <1"
                id="surname-error" class="form-text text-red">Inserisci il tuo Cognome.</div>
        </div>
    </div>
    <div class="col-12 d-md-flex my-md-2">
        <div class="form-group col-md-6 me-md-2">
            <label for="indirizzo">Indirizzo</label>
            <input type="text" class="form-control" id="indirizzo" placeholder="Inserisci il tuo indirizzo"
                formControlName="indirizzo">
            <div *ngIf="registerForm.controls.indirizzo?.touched == true && registerForm.controls.indirizzo.value.length <1"
                id="address-error" class="form-text text-red">Questo campo è obbligatorio</div>
            <div *ngIf="registerForm.controls.indirizzo?.errors?.minlength" id="address-error2"
                class="form-text text-red">Inserisci un indirizzo valido</div>
        </div>
        <div class="form-group col-md-6">
            <label for="citta">Città</label>
            <input type="text" class="form-control" id="citta" aria-describedby="emailHelp"
                placeholder="Inserisci la città" formControlName="citta">
            <div *ngIf="registerForm.controls.citta?.errors?.pattern" id="city-error" class="form-text text-red">
                Inserisci una città valida.</div>
            <div *ngIf="registerForm.controls.citta?.touched && registerForm.controls.citta?.value?.length <1"
                id="city-error2" class="form-text text-red">Questo campo è obbligatorio</div>
        </div>
    </div>
    <div class="col-12 d-md-flex my-md-2">
        <div class="form-group col-md-6 me-md-2">
            <label for="Paese">Paese</label>
            <input type="text" class="form-control" id="Paese" placeholder="Inserisci il Paese" formControlName="paese">
            <div *ngIf="registerForm.controls.paese?.touched == true && registerForm.controls.paese?.value?.length <1"
                class="form-text text-red">Questo campo è obbligatorio</div>
        </div>
        <div class="form-group col-md-6">
            <label for="cap">Cap</label>
            <input type="text" class="form-control" id="cap" aria-describedby="emailHelp" placeholder="Inserisci il cap"
                formControlName="cap">
            <div *ngIf="registerForm.controls.cap?.errors?.pattern" id="cap-error" class="form-text text-red">
                Inserisci
                un cap valido.</div>
            <div *ngIf="registerForm.controls.cap?.touched && registerForm.controls.cap?.value?.length <1"
                id="cap-error2" class="form-text text-red">Questo campo è obbligatorio</div>
        </div>
    </div>
    <div class="col-12 d-md-flex my-md-2">
        <div class="form-group col-md-6 me-md-2">
            <label for="telefono">Telefono</label>
            <input type="tel" class="form-control" id="telefono" aria-describedby="emailHelp"
                placeholder="Inserisci il numero di telefono" formControlName="telefono">
            <div *ngIf="registerForm.controls.telefono?.touched == true && registerForm.controls.telefono?.value?.length <1"
                class="form-text text-red">Questo campo è obbligatorio</div>
            <div *ngIf="registerForm.controls.telefono?.errors?.pattern" class="form-text text-red">
                Inserisci un numero di telefono valido</div>
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Inserisci la tua email" formControlName="email">
            <div *ngIf="registerForm.controls.email?.touched == true && registerForm.controls.email?.value?.length <1"
                class="form-text text-red">Questo campo è obbligatorio</div>
            <div *ngIf="registerForm.controls.email?.touched == true && registerForm.controls.email?.errors?.pattern"
                class="form-text text-red">Inserisci un indirizzo email valido</div>
        </div>
    </div>
    <div class="col-12 d-md-flex my-md-2">
        <div class="form-group col-md-6 me-md-2">
            <label for="user">Username</label>
            <input type="text" class="form-control" id="user" aria-describedby="emailHelp"
                placeholder="Inserisci una Username" formControlName="user">
            <div *ngIf="registerForm.controls.user?.touched == true && registerForm.controls.user?.value?.length <1"
                class="form-text text-red">Questo campo è obbligatorio</div>
        </div>
        <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="emailHelp"
                placeholder="Inserisci una Password" formControlName="password">
            <div *ngIf="registerForm.controls.password?.touched == true && registerForm.controls.password?.value?.length <1"
                class="form-text text-red">Questo campo è obbligatorio</div>
            <div *ngIf="registerForm.controls.password?.touched == true && registerForm.controls.password?.errors?.pattern"
                class="form-text text-red">Inserisci una password di almeno 8 caratteri e 1 numero</div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button [disabled]="!registerForm.valid" type="submit" class="btn-add-cart col-12 col-md-6"
            routerLink="/login">Registrati</button>
    </div>

</form>