li
    h5
        cursor: pointer
    &:hover
        color: grey

ul
    padding: .5em

.text-link
    cursor: pointer
    font-weight: 600
    &:hover
        color: grey

.round-color
    width: 2em
    height: 2em
    border-radius: 50%
    list-style: none

.btn-all-article
    background-color: lightgrey
    height: 2.5em
    border-radius: 24px
    border: none
    &:hover
        background-color: black
        color: #ffffff
.color-ball
    
    &:hover
        // opacity: 0.5
        filter: contrast(1.5)
        animation: rotate360 1s linear infinite

@keyframes rotate360
    0%
        transform: rotate(0deg)
        scale: (1)
    
    50%
        transform: rotate(180deg)
        scale: (1.2)

    100%
        transform: rotate(360deg)
        scale: (1.5)
        
        